@model Codecool.CodecoolShop.ViewModels.OrderViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Finalize your</h2>


<form method="post" asp-action="CompletingOrderData" class="form-horizontal" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="form-group">
        <label asp-for="@Model.ValidatorClientModel.FirstName" class="col-md-2 control-label">First name:</label>
        <div class="col-md-5">
            <input asp-for="@Model.ValidatorClientModel.FirstName" class="form-control" />
            <span asp-validation-for="@Model.ValidatorClientModel.FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.ValidatorClientModel.LastName" class="col-md-2 control-label">Last name:</label>
        <div class="col-md-5">
            <input asp-for="@Model.ValidatorClientModel.LastName" class="form-control" />
            <span asp-validation-for="@Model.ValidatorClientModel.LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.ValidatorClientModel.EMail" class="col-md-2 control-label">E-mail</label>
        <div class="col-md-5">
            <input asp-for="@Model.ValidatorClientModel.EMail" class="form-control" />
            <span asp-validation-for="@Model.ValidatorClientModel.EMail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ValidatorClientModel.PhoneNumber" class="col-md-2 control-label">Phone number:</label>
        <div class="col-md-5">
            <input asp-for="@Model.ValidatorClientModel.PhoneNumber" class="form-control" />
            <span asp-validation-for="@Model.ValidatorClientModel.PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ValidatorClientModel.Address" class="col-md-2 control-label">Address:</label>
        <div class="col-md-5">
            <input asp-for="@Model.ValidatorClientModel.Address" class="form-control" />
            <span asp-validation-for="@Model.ValidatorClientModel.Address" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ValidatorClientModel.ZipCode" class="col-md-2 control-label">Zip-code:</label>
        <div class="col-md-5">
            <input asp-for="@Model.ValidatorClientModel.ZipCode" class="form-control" />
            <span asp-validation-for="@Model.ValidatorClientModel.ZipCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
            <label asp-for="@Model.ValidatorClientModel.City" class="col-md-2 control-label">City:</label>
            <div class="col-md-5">
                <input asp-for="@Model.ValidatorClientModel.City" class="form-control" />
                <span asp-validation-for="@Model.ValidatorClientModel.City" class="text-danger"></span>
            </div>
        </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Continue to payment" />
        </div>
    </div>

</form>

