@model CartViewModel

@{
    ViewBag.Title = "Cart Summary";
    Layout = "_Layout";
}

<h2>Shopping cart</h2>
<div class="jumbotron">
    <h2 class="display-4">Hello, I'm your cart!</h2>

    @if (!Model.CartItems.Any())
    {
        <p class="lead">Unfortunately, I do not contain any item yet. Let's do something about it!</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Products","Home")'" role="button">Take me shopping!</a>

    }
    else
    {
        <p class="lead">These are your pretty items, for you to buy. Buy them please!</p>
        <hr class="my-4">

        <div class="container mt-5 mb-5">
            <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                @foreach (CartItem element in Model.CartItems)
                {
                    <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                    <div class="mr-1"><img class="rounded" src="@Url.Content($"~/img/{element.Product.Name}.jpg")" style="height: 50%; width: 50%; align-self: center; padding-top: 10px;"></div>
                    <div class="d-flex flex-column align-items-center product-details"><span class="font-weight-bold">@element.Product.Name.Capitalize()</span>
                    </div>
                    <div class="d-flex flex-row align-items-center qty"><a onclick="location.href='@Url.Action("SubtractQuantity", "Cart", new { cartItemId = element.Id})'"><i class="fa fa-minus text-danger"></i></a>
                    <h5 class="text-grey mt-1 mr-1 ml-1">@element.Quantity</h5><a onclick="location.href='@Url.Action("AddQuantity", "Cart", new { cartItemId = element.Id})'"><i class="fa fa-plus text-success"></i></a>
                    </div>
                    <div>
                        <h5 class="text-grey">@((element.Product.DefaultPrice * element.Quantity) + element.Product.Currency)</h5>
                    </div>
                        <div class="d-flex align-items-center"><a onclick="location.href='@Url.Action("DeleteCartItem", "Cart", new { cartItemId = element.Id})'"><i class="fa fa-trash mb-1 text-danger"></i></a></div>
                    </div>
                }


                <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button" onclick="location.href='@Url.Action("CompletingOrderData", "Order", new {userId = Model.Cart.UserId})'">Proceed to Pay!</button></div>
                <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><button class="btn btn-primary btn-block btn-lg ml-2" type="button" onclick="location.href='@Url.Action("Products","Home")'" role="button">Continue shopping!</button></div>


            </div>
            </div>
        </div>
    }

</div>
