@{
    ViewData["Title"] = "Home Page";
}

@model ProductsIndexViewModel

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="All products"style="padding-left: 35px">
            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#CollapseAllProducts" aria-expanded="true" aria-controls="CollapseAllProducts" >All products</button>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Filter by categories" style="padding-left: 15px">
            @foreach (ProductCategory category in Model.Categories)
            {
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#CollapseCategory-@category.Id" aria-expanded="false" aria-controls="CollapseCategory-@category.Id" >@category.Name.Capitalize()</button>
            }
        </div>
        <div class="btn-group" role="group" aria-label="Filter by suppliers" style="padding-left: 15px">
            @foreach (Supplier supplier in Model.Suppliers)
            {
                <button class="btn btn-outline-warning" type="button" data-toggle="collapse" data-target="#CollapseSupplier-@supplier.Id" aria-expanded="false" aria-controls="CollapseSupplier-@supplier.Id">@supplier.Name.Capitalize()</button>
            }
        </div>
    </div>

<hr class="my-4">

<div class="container-fluid" id="collapsibleAreas" >
    <div class="collapse show container-fluid" id="CollapseAllProducts" data-parent="#collapsibleAreas">
        @foreach (Product element in Model.Products)
        {
            <div class="col-xl-3" style="display: inline-block; max-width: 33%; max-height: 350px">
                <div class="card bbb_deals" style="width: 21rem;">
                                            <div class="bbb_deals_title">@(element.ProductCategory.Name.Capitalize())s - @element.Supplier.Name.Capitalize()</div>
                                            <div class="bbb_deals_slider_container">
                                                <div class=" bbb_deals_item">
                                                    <div class="bbb_deals_image"><img src="img/@(element.Name).jpg" alt="@(element.Name)"></div>
                                                    <div class="bbb_deals_content">

                                                        <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                                            <div class="bbb_deals_item_name">@element.Name</div>
                                                        </div>
                                                        <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                                            <div class="bbb_deals_item_category">@element.DefaultPrice @element.Currency</div>
                                                        </div>
                                                        <div class="available">
                                                            <div class="available_line d-flex flex-row justify-content-start">
                                                                    <div style="display: inline-block; padding-right: 7px"> <input type="button" value="About" onclick="location.href='@Url.Action("AddToCart", "Cart", new {productId = element.Id})'" class="btn btn-secondary" style="float: bottom;"/></div>
                                                                                                                <div style="display: inline-block; padding-right: 7px"><input type="button" value="Add To Cart" onclick="location.href='@Url.Action("AddToCart", "Cart", new {productId = element.Id})'" class="btn btn-primary" style="float: bottom;"/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
        }
    </div>

    @foreach (ProductCategory category in Model.Categories)
    {
        <div class="collapse" id="CollapseCategory-@category.Id" data-parent="#collapsibleAreas">
            @foreach (Product element in Model.ProductsByCategories[category])
            {
                <div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 33%; max-height: 350px">
                    <div class="card bbb_deals" style="width: 20rem;">
                        <div class="bbb_deals_title">@(element.ProductCategory.Name.Capitalize())s - @element.Supplier.Name.Capitalize()</div>
                        <div class="bbb_deals_slider_container">
                            <div class=" bbb_deals_item">
                                <div class="bbb_deals_image">
                                    <img src="img/@(element.Name).jpg" alt="@(element.Name)">
                                </div>
                                <div class="bbb_deals_content">

                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_name">@element.Name</div>
                                    </div>
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_category">@element.DefaultPrice @element.Currency</div>
                                    </div>
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
<div style="display: inline-block; padding-right: 7px"> <input type="button" value="About" onclick="location.href='@Url.Action("AddToCart", "Cart", new {productId = element.Id})'" class="btn btn-secondary" style="float: bottom;"/></div>
                                            <div style="display: inline-block; padding-right: 7px"><input type="button" value="Add To Cart" onclick="location.href='@Url.Action("AddToCart", "Cart", new {productId = element.Id})'" class="btn btn-primary" style="float: bottom;"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

    @foreach (Supplier supplier in Model.Suppliers)
    {
        <div class="collapse" id="CollapseSupplier-@supplier.Id" data-parent="#collapsibleAreas">
            @foreach (Product element in Model.ProductsBySuppliers[supplier])
            {
                <div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 33%; max-height: 350px">

                    <div class="card bbb_deals" style="width: 20rem;">
                        <div class="bbb_deals_title">@(element.ProductCategory.Name.Capitalize())s - @element.Supplier.Name.Capitalize()</div>
                        <div class="bbb_deals_slider_container">
                            <div class=" bbb_deals_item">
                                <div class="bbb_deals_image">
                                    <img src="img/@(element.Name).jpg" alt="@(element.Name)">
                                </div>
                                <div class="bbb_deals_content">

                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_name">@element.Name</div>
                                    </div>
                                    <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                        <div class="bbb_deals_item_category">@element.DefaultPrice @element.Currency</div>
                                    </div>
                                    <div class="available">
                                        <div class="available_line d-flex flex-row justify-content-start">
                                            <div style="display: inline-block; padding-right: 7px"> <input type="button" value="About" onclick="location.href='@Url.Action("AddToCart", "Cart", new {productId = element.Id})'" class="btn btn-secondary" style="float: bottom;"/></div>
                                            <div style="display: inline-block; padding-right: 7px"><input type="button" value="Add To Cart" onclick="location.href='@Url.Action("AddToCart", "Cart", new {productId = element.Id})'" class="btn btn-primary" style="float: bottom;"/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>